* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.page-wrapper > footer.footer-header {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding:  0 2.5%;
}

.main-links{
    display: flex;
    flex-direction: column;
}
.main-links > a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* width: fit-content; */
    padding: 10% 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    white-space: nowrap;
    text-wrap: nowrap;
    border-radius: 5px;
    text-decoration: none;
}
.page-title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.page-title>img {
    max-height: 50px;
    max-width: 200px;
}
.page-title > h1 {
    font-size: 80%;
 }
.page-title > h1 img{
    height: 50%;
    width: 50%;
 }
.page-wrapper > footer.footer-header  > .page-logo > img {
    height: 100%;
    width: 100%;
    max-height: 100px;
}
.page-logo img {max-width: 100px;}
.main-links a:active,.main-links a:focus{
    background: rgb(0,120,120,.7);
    color: whitesmoke;
    
}
@media screen and (max-width: 683px){
    footer > *{
        flex-basis: 30%;
    }
    .main-links {
        display: flex;
        flex-direction: column;
        font-size: 80%;
    }

    .page-title {
        display: flex;
        /* flex-direction: column; */
        /* border: 1px solid black; */
    }
    .page-title>img {
        /* max-height: 50px;
        max-width: 100px;
        border: 2px solid red; */
    }
}