.step-img,
.step-vid {
    position: relative;
    /* flex: 0 0 auto; */
}
.step-vid>video {
    /* position: relative; */
}
.step-img img {
    position: relative;
    /* override absolute */
    width: 100%;
    height: auto;
    max-width: 410px;
    display: block;
}
/* imgVideos.css */
.imgs-container {
    width: 100%;
}
.imgs-container .img-container .step-img {
    width: 90%;
    position: relative;
    pointer-events: auto;
    height: fit-content;
}
.imgs-container {
    display: flex;
    position: static;
}
.imgs-container>* {
    flex-basis: 50%;
}
/* Default step images */
.step-img>img {
    position: absolute;
    width: 98%;
    max-width: 410px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px lightcyan;
    /* border: 1px solid white; */
    pointer-events: auto;
    transition: all 0.025s ease;
    touch-action: manipulation;
}

/* Enlarged images always on top */
.step-img>img{z-index: 0}
.step-img>img.enlarge {
    
}

.step-float .step-img>img.enlarge {
    position: fixed;
    pointer-events: auto;

    /* not absolute, escape parent */
    top: 50%;
    left: 50%;
    /* center + enlarge */
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 9999 !important;

}
.imgs-container .step-img>img.enlarge {
    position: fixed !important;
    /* not absolute, escape parent */
    top: 50%;
    left: 50%;
    /* center + enlarge */
    transform: translate(-50%, -90%) scale(1.2);
    z-index: 9999 !important;

}
.step-img,
.step-vid {
    float: right;
    width: 45%;
    margin-right: 5%;
    margin-left: 10px;
}
.step-vid> video{
    height: 100%;
    width: 100%;
}

.step-float .step-vid>video.enlarge{
    /* not absolute, escape parent */
    top: 50%;
    left: 50%;
    /* center + enlarge */
    transform: translate(-50%, -50%) scale(1.7);
    border: 12px solid black;
    z-index: 9999 !important;
}
.first-vid-enlarge {
    position: fixed !important;
    /* escape scrollable parent */
    top: 50% !important;
    left: 50% !important;
    transform: translate(-20%, -70%) scale(1.5);
    max-width: 50vw;
    max-height: 50vh;
    z-index: 9999 !important;
    /* border: 20px solid green; */
    /* DUDE This fixed it somehow,the double tap */
    pointer-events: none;
}