img
#targetDiv{
    position: relative;
    z-index: 0;
}
/* position relative will be needed in targetDiv or steps-container ??? */
/* .steps-container { */
    /* position: relative; */
/* } */
.step-float{
    padding-bottom: 2%;
    position: relative;
}
.step-img,
.step-vid {
    float: right;
    width: 45%;
    margin-top: 5%;
    /* Adjust as needed */
    margin-left: 10px;
    z-index: 0;
    /* Optional: adds space between console and text */
}

.step-float>.step-img>img,
.step-float>.step-vid>video {
    width: 100%;
    height: 100%;
    z-index: 0;
}
.step-float>.step-img>img.enlarge,
.step-float>.step-vid>video.enlarge {   
    z-index: 10;
}
.step:active,.step:focus, 
.step-float:active,.step-float:focus{
    font-style: bold;
}
.console {
    float: right;
    /* This floats the console to the right */
    background-color: black;
    height: 15vh;
    width: 40%;
    /* Adjust as needed */
    margin-left: 10px;
    /* Optional: adds space between console and text */
    padding: 10px;
    /* Optional: adds padding inside console */
}
.step-float > .step > * {display: flex;
}
.step-float > .step > .step-txt,
.step-float > .step > .step-img,
.step-float > .step > .step-vid{
    width: 50%;
}
.step {
    display: flex;
    justify-content: space-between;
}
.step > .step-txt{
    padding: 1%;
}
.step-float > .step-txt{
    padding: 0 2%;
}
.step-float > .step-txt > p{
    padding: 0 2%;
    margin-top: 2%;
}
.step-float > p {
    margin: 1% 2%;
    margin-top: 2.5%;
    margin-left: 5%;
}
.step > .step-img,
.step>.step-vid{
    flex-basis: 50%;
    display: flex;
    margin-top: 2.5%;
    align-items: flex-start;
    justify-content: center;
}
.step-img > img,
.step-vid > video{
    width: 98%;
    border: 1px solid white;
    max-width: 500px;
    /* display: none; */
    position: relative;
    z-index: 0;
    transition: all 0.025s ease;
}
.step-float>.code-container {
    border: 2px solid red;
    margin-left: 2.5%;
}
.code-container {
    background-color: white;
    /* padding-right: 3.3%; */
    width: fit-content;
    margin-top: 2.5%;
    /* width: 90% */
    
}
.code-container>.copy-code {
    position: relative;
    /* ADD THIS */
    border-radius: 8px;
    width: 100%;
    z-index: 5;
    background-color: var(--bg-primary);
    width: 100%;
    padding: 1.5% 5% 2% 1.2%;
}

.clear {
    clear: both;
}
.step-float>.step-vid  {
    /* position: relative; */
}
.step-float>.step-vid>video  {
    /* position: absolute; */
    /* z-index: 2; */
    z-index: 0;
}

.enlarge {
    position: relative;
    transform: scale(1.5);
    /* margin-right: 5%; */
    /* margin-top: 5%; */
    /* min-width: 500px; */
    /* z-index: 10 */
}