.txt90 {font-size: 90%;}
.txt85 {font-size: 85%;}
.txt80{font-size: 80%;}
.txt60{font-size: 60%;}
:root {
    --bg-primary: #233944;
}
.b {color: rgb(123, 123, 224);}
.lb {color: lightblue;}
.l {color: lime;}
.lsg {color: lightseagreen;}
.m {color: magenta;}
.o {color: orange;}
.p {color: rgb(195, 103, 195);}
.r {color: red;}
.y {color: yellow;}


.console {
    border: 1px solid darkblue;
    box-shadow: 0 0 1px 1px darkblue;
    margin-top: .25%;
    padding: 1%;
    background-color: rgb(28, 26, 26);
    color: white;
}

.step-txt p code,
.code-container span{
    font-weight: 999;
}
@media screen and (max-width: 721px) {
    .txt90 {
        font-size: 85%;
    }
    .txt85 {
        font-size: 80%;
    }
    .txt80 {
        font-size: 75%;
    }
}

.code-container.x,
.copy-code.x {
    position: relative;
    /* Anchor pseudo-elements to this box */
}

.code-container.x::before,
.code-container.x::after,
.copy-code.x::before,
.copy-code.x::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.code-container.x::before,
.copy-code.x::before {
    background: linear-gradient(45deg,
            transparent calc(50% - 1px),
            red,
            transparent calc(50% + 1px));
}

.code-container.x::after,
.copy-code.x::after {
    background: linear-gradient(-45deg,
            transparent calc(50% - 1px),
            red,
            transparent calc(50% + 1px));
}