.main-container-codeColor {
}
#targetDiv{
    /* border: 2px solid lime; */
    width: 100%;
    /* width: fit-content; */
}
.steps-container {
    position: relative;
    /* width: 50%; */
    border: 2px solid blue;
}
.step-float{
    position: relative;
    border: 1px solid black;
}
.step-float .step-img {
    float: right;    
}
.step-float>.step-img,
.step-float>.step-vid {
    float: right;
    /* This floats the img to the right */
    /* background-color:  ; */
    /* width: 50%; */
    /* Adjust as needed */
    margin-left: 10px;
    /* Optional: adds space between console and text */
}

.step-float>.step-img>img,
.step-float>.step-vid>video {
    width: 100%;
    height: 100%;
    /* min-height: 100px; */
}
.step:active,.step:focus, 
.step-float:active,.step-float:focus{
    font-style: bold;
    color: white;
    font-weight: 800;
}
.console {
    float: right;
    /* This floats the console to the right */
    background-color: black;
    height: 15vh;
    width: 40%;
    /* Adjust as needed */
    margin-left: 10px;
    /* Optional: adds space between console and text */
    padding: 10px;
    /* Optional: adds padding inside console */
}

.step-txt-float textarea{
    /* --bg-primary in codeColor-colors.css */
    /* background-color: var(--bg-primary); */
    /* color: white; */
    margin-left: 1%;
    min-width: 50%;
    min-height: 100px;
    overflow-y: scroll;
    field-sizing: content;
    max-height: 500px !important;
    padding-top: .75%;
    padding-left: 1%;
}
.step-float-txt-float textarea,
.step-float-txt-float .code-container,
.step-float-txt-float .copy-code,
.step-float-txt-float h3,
.step-float-txt-float p {
    display: block;
    /* Ensures wrapping around floated element */
}
.step {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid magenta; */
}
.step > .step-txt{
    /* flex-basis: 50%; */
    padding: 1%;
}
.step-float > .step-txt{
    /* flex-basis: 50%; */
    padding: 0 2%;
}


.step-float > .step-txt > .code-container {
    /* border: 2px solid red; */


}
.step > .step-img,
.step>.step-vid{
    flex-basis: 50%;
    display: flex;
    /* border: 2px solid blue; */
    margin-top: 2.5%;
    align-items: flex-start;
    justify-content: center;
}
.step-img > img,
.step-vid > video{
    /* display: 100%; */
    width: 98%;
    max-width: 500px;
}



.enlarge{
    position: relative;
    transform: scale(1.5);
    margin-right: 5%;
    margin-top: 5%;
    min-width: 500px;
    z-index: 2
}
.code-container {
    background-color: var(--bg-primary);
    padding-right: 3.3%;
    /* border-radius: 4px; */
    width: fit-content;
    
}
.code-container>.copy-code {
    background-color: var(--bg-primary);
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    margin-right: 5%;
    padding-right: 5%;
    padding-left: 1.2%;
}
.clear {
    clear: both;
}
@media screen and (max-width:721px) {
    
    .step-float .code-container{
        margin-top: 10.5%;
        /* border: 1px solid magenta; */
    }
}
@media screen and (max-width:651px) {
    .side-bar.deactive{
        /* display: none; */
    }
    .step h4 {
        margin: 0;
    }
    .step>.step-txt {
        /* flex-basis: 20%; */
        width: 50%;
        /* border: 2px solid orange; */
    }
}