:root {
    --width-side-deactive: 0;
    --width-side-bar: 120px;
}
#backToTopBtn {
    position: sticky;
    bottom: 0;
    right: 0;
}
body {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}
main {   
    position: relative;
    display: flex;
    width: 100%;
}
.side-bar{
    width: var(--width-side-bar);
    background-color: var(--bg-primary);
    color: rgb(229, 218, 218);
    height: 100vh;
}
.side-bar ~ #mainTargetDiv{
    width: calc(100% - var(--width-side-bar));
    /* margin: 0 auto; */
}
.side-bar.deactive ~ #mainTargetDiv{
    width: 100%;
    /* margin-right: 4%; */
}
.side-bar{
    color: white;
}

.side-bar {
    width: var(--width-side-bar);
    transition: all .2s ease;
}
.side-bar .parts.hide {
    display: none;
}
#mainTargetDiv {
    border: 1px solid black;
}
.side-bar.deactive {
    width: 0;
    color: black;
    opacity: 0;
}

.sideBarBtn-container{
    position: relative;
    background-color: var(--bg-primary);
}
#sidebarBtn.drop {
    position: absolute;
    background-color: var(--);
    z-index: 1;
    top: 50%;
}
ul {
    padding: 0
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li .tooltip{
    display: none;
    color: white;
}
