* {
    margin:  0;
    padding: 0;
}
body{
    /* overscroll-behavior-x: none; */
}
main {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    overflow:scroll;
    /* overflow-y: scroll; */
    scrollbar-width: none;
}
body>nav.section-lesson-title {
    position: sticky;
    z-index: 50;
    top: 0;
    box-shadow: 0 0 1px 1px white;
    background-color: var(--bg-primary);
    height: 5vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
body > nav.section-lesson-title > h1#title {
    color: white;
    font-size: 100%;
    margin-left: 1%;

}
main>#mainTargetDiv {
    margin-right: 20px;
    /* width: 100%; */
    flex-basis: 90%;
    flex-grow: 1;
}
main > .side-bar{
    background-color: var(--bg-primary);
    color: white;
    box-shadow: 0 0 1px 1px white;
    /* background-color: white; */
    top: 20%;
    flex-basis: 8%;
    text-wrap: wrap;
    /* width: fit-content; */
    text-wrap: none;
    white-space: none;
    /* width: max-content; */
    height: 100vh;
    padding-left: .5%;
    padding-right: 2;
    z-index: 10;
}
main > .side-bar.deactive {
    flex-basis: 3%;
}

main > .side-bar.deactive .parts {
    width: 0;
    opacity: 0;
    transition: all 250ms;
}
main > .side-bar.deactive .drop {
    position: fixed;
    transform: scale(1.5);
    z-index: 1;
    bottom: 0;
}

.side-bar > .parts ul {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    width: min-content;
    margin-left: 1.5%;
    list-style: none;
    
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li a:visited {
    text-decoration: none;
    color: white;
}
.hide{
    display: none;
}
@media screen and (min-width:960px){
    
    
    main> .side-bar.deactive  {
        /* flex-basis: .5%; */
        /* width: 2.5%; */
        /* width: 0; */
        /* opacity: 0; */
        transition: all 250ms;
        /* background-color: blue !important; */
    }
    .parts sup{
        display: inline-block;
        margin-left: -3px;
        /* border: 2px solid orange; */
        /* background-color: blue; */
    }
}
@media screen and (max-width:721px){
    .side-bar>.parts ul {
            /* font-size: 70%; */
    }
}
@media screen and (max-width:600px){
    .side-bar>.parts ul li{
        line-height: 1.4;
    }
    .side-bar>.parts ul {
        font-size: 75%;
    }
    .parts{
        margin-left: 1.5%;
        font-size: 90%;
    }
    .parts h2{
        margin-left: 2.5%;
    }
    body>nav.section-lesson-title>h1 {
    /* color: blue;s */
        font-size: 45%;
    }
    
}