:root {
    --width-side-deactive: 0;
    --width-side-bar: 150px;
}
#backToTopBtn {
    position: sticky;
    bottom: 0;
    right: 0;
}
body {
    overflow: hidden;
    overflow-y: scroll;
}
main {   
    display: flex
}
.side-bar{
    width: var(--width-side-bar);
    background-color: var(--bg-primary);
    color: rgb(229, 218, 218);
    height: 100vh;
}
.side-bar ~ #targetDiv{
    width: calc(100% - var(--width-side-bar));
    /* margin: 0 auto; */
}
.side-bar ~ #targetDiv{
    width: calc(100% - var(--width-side-bar));
    /* margin-right: 4%; */
}
.side-bar{
    color: white;
}
.side-bar.deactive{   
    width: var(--width-side-deactive);
    opacity: 0;
}
.side-bar {
    width: var(--width-side-bar);
    transition: all .2s ease;
}
#targetDiv {
    border: 1px solid black;
}
ul {
    padding: 0
}
ul li a {
    text-decoration: none;
    color: white;
}
ul li .tooltip{
    display: none;
    color: white;
}
