.copy-code > span {font-weight: 999;}
.copy-code > span.r{ color: red}
.copy-code > span.db {color: royalblue;}
.copy-code > span.mb {color: rgb(110, 136, 214);}
.copy-code > span.b {color: blue;}
.copy-code > span.gr {color: goldenrod;}
.copy-code > span.gold {color: gold;}
.copy-code > span.y {color: rgb(172, 172, 53);}
.copy-code > span.o {color: orange;}