
.sidebar-links-ul li a,:visited,
.page-header .header-col-left>.header-nav a:visited {
    color: black;
}

.sidebar-links-ul li a,
.page-header .header-col-left>.header-nav a {
    color: black;
}

#sideBarBtn {
    color: var(--text-color);
}

/* Lessons */

.code-container {
    background-color: white;
}
.step .code-container .copy-code{
    background-color: lightgreen;
    border: 1px solid blue;
}

