#sideBarBtn {
    color: var(--text-color);
}
.side-bar {
    border: 1px solid black;
}
/* Lessons */
.code-container {
    background-color: white;
}
.step .code-container .copy-code{
    background-color: lightgreen;
    border: 1px solid blue;
}