.page-wrapper {
    display: flex;
    flex-direction: column;
}
.page-header {
    position: fixed;
    display: flex;
    z-index: 5;
    width: 100%;
}
#navLessonTitle{
    display: flex;
    align-content: center;
}
.page-header .header-col-left{
    display: flex;
    flex-direction: column;
    flex: 1 1 80vw;
}
.page-header .header-logo-actions-right{
    display: flex;
    flex-direction: column;
    flex: 0 1 20vw;
}
.page-header .header-logo-actions-right a {
    display: inline-flex;
    justify-content: flex-end;
    height: 90%;
    width: 100%;
}
.page-header .header-logo-actions-right a img{
    width: 100%;
    max-width: 200px;
    max-height: 80px;
    height: 100%;

}

.page-header .header-col-left>.header-nav {
    display: flex;
    flex-direction: column;
}
.page-header .header-col-left>.header-nav > * {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    align-items: center;
}
.page-header .header-col-left>.header-nav a{
    
}
.main-container {
    display: flex;
    width: 100%;
    top: 80px;
}

/* Sidebar on left, sticky */
.side-bar {
    width: 15%;
    /* for now */
    flex-shrink: 0;
    /* position: sticky; */
    top: 50;
    /* sticks to top of viewport within container */
    height: 100%;
    overflow-y: auto;
    /* background: #f0f0f0; */
    /* just for visualization */
}

/* Main content scrollable */
.main-content-container {
    width: 90%;
    margin-top: 3%;
    flex: 1 1 auto;
    overflow-y: auto;
    box-sizing: border-box;
}
