main.main-container.collapsed #sideBarBtn {
    position: absolute;
    bottom: 12%;
    left: 20%;
}
/* position.css */
.page-header {
    /* position: sticky; */
}
.page-wrapper {
    position: relative;
}
.main-container {
    display: flex;
    flex-direction: row;
}
/* Sidebar sticky */
.side-bar {
    position: sticky;
    top: 0;
    /* sticks below header if header has height */
    flex-shrink: 0;
    /* overflow: hidden; */
    /* height: calc(100vh - var(--header-height, 80px)); */
}
.lesson-btns-container {
    position: fixed;
    bottom: 5vh;
}

.lesson-btns-container {
    bottom: 0;
}

/* Lessons stepTxt injectContent() */
.imgs-container {position: static;}
.step-float {position: relative;}
.step-img>img {position: relative;}