/* position.css */
.page-wrapper {
    position: relative;
}

.page-header {
    /* header stays in normal flow */
    /* top: 0; */
}

.main-container {
    display: flex;
    flex-direction: row;
    /* the main container itself scrolls */
}

/* Sidebar sticky */
.side-bar {
    position: sticky;
    top: 0;
    /* sticks below header if header has height */
    flex-shrink: 0;
    /* overflow: hidden; */
    height: calc(100vh - var(--header-height, 80px));
}

.step-float {
    position: relative;
}
.lesson-btns-container {
    position: fixed;
    bottom: 5vh;
}