.page-wrapper {
    height: 100vh;
}
.page-wrapper .page-header {
    /* height: var(--header-height); */
    height: 50vh;
    width: 100%;
    /* height: 12vh !important; */
    width: 100%;    
}

.page-wrapper .page-header .header-col-left>.header-nav a {
    width: 100%;
}
.page-header .header-logo-actions-right a {
    height: 90%;
    width: 100%;
}

.page-header .header-logo-actions-right,
.page-header .header-logo-actions-right a img{
    max-height: 150px;
    
}
.side-bar {
  width: 15%;
}
.main-container {
    height: 100%;
    width: 100%;
}
.lesson-btns-container{
    width: 50%;
}
.lesson-btns-container > button{
    width: 100%;
    height: 40px;
    /* background-color: blue; */
}
