#darkmodeBtn{
    padding: 0 2%;
}
#sideBarBtn {
    padding: 1%;
}

.code-container {
  margin-top: 2.5%;
}
.code-container>.copy-code {
  padding: 1%
}
/* Lessons */
.main-container.collapsed .steps-container{
  /* margin: 0 1%; */
}
.steps-container{
  /* margin-left: 5%; */

}
.step-float{
    padding-bottom: 5%;
}

.step > .step-txt{
    /* padding: 1%; */
}