main {
    position: relative;
}
canvas {
    border: 1px solid black;
    /* width: 50%;  */
    /* flex-grow: 1; */
    /* height: 50vh;  */
    z-index: 5; 
    overflow: hidden;
    /* background-color: blue !important; */
}
#jsCanvasScriptContainer {
    width: 100%;
    display: flex;
    flex-direction: column ;
    /* margin:  0 5%; */
    /* align-items: center; */

}
#scriptsContainer {
    background-color: black;
    overflow: hidden;
    scroll-behavior: none;
    /* max-width: 400px; */
    width: 100%;
}
#scriptsContainer > #xExitContainer{
    /* position: relative;
    top: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: 2px solid blue; */
}
#scriptsContainer>.code-container {
    border: 1px solid black;
    color: white;
    overflow: hidden;
    scroll-behavior: none;
}
#scriptsContainer>#xExitContainer{
    display: flex;
    justify-content: flex-end;
    background-color: (0,0,0,0);
}
#scriptsContainer>#xExitContainer> #xBtn{
    position: absolute;
    margin-right: 1%;
    width: 20px;
    border-radius: 2px;
}
#scriptsContainer>.code-container >.copy-code{
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: none;
    width: 100%;
}
.popped-up {
    position: absolute;
    width: 50%;
    max-width: 400px;
    font-size: 40% !important;
    top: 0;
    right: 0;
    max-height: 100vh !important;
    overflow-y: scroll;
    z-index: 10;
}
.display-none{
    display: none !important;
}