:root {
  --sidebar-width: 120px;
  /* narrower fixed width */
  --main-content-width: calc(100% - var(--sidebar-width));
  --sidebar-collapsed-width: 20px;
  /* small but visible */
}

main.main-container {
  /* display: flex;   */
  position: relative;
  /* position: fixed; */
  /* width: 90%; */
}

.side-bar {
  position: fixed;
  width: 20%;
  left: 0;
  height: 100vh;
  border: 1px solid black;
  overflow-x: hidden;
}

main.main-container.collapsed .side-bar {
  width: 5%;
  overflow: visible;
  /* ensure contents like buttons still show */
}

main.main-container .main-content-container {
  position: fixed;
  left: 20%;
}

main.main-container.collapsed .main-content-container {
  width: 100%;
  left: 5%;
  position: fixed;
  right: 0;
  border: 2px solid blue;
  background-color: yellow;
}

#mainTargetDiv {
  display: flex;
  width: 100%
}


main.main-container.collapsed .side-bar .side-bar-links-container {
  display: none;
}

.side-bar-links-container .sidebar-links-ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-bottom: 10%;
}

#sideBarBtn {
  font-size: 1.5rem;
}

main.main-container.collapsed #sideBarBtn {
  position: absolute;
  bottom: 20%;
}