:root {
    --bg-primary-db: #201d1d;
    --font-primary-db: whitesmoke;
}
#darkModeBtn {
    
}
.dark-mode {
    background-color: var(--bg-primary-db);
    /* color: var(--font-primary-db) */
}
.dark-mode .sidebar-links-ul li a,:visited,
.dark-mode .page-header .header-col-left>.header-nav a:visited {
    /* color: whitesmoke; */
}
.dark-mode .sidebar-links-ul li a,
.dark-mode .page-header .header-nav a {
    color: whitesmoke;
}
.dark-mode .page-header .header-col-left>.header-nav a {
    
    color:  whitesmoke !important;
    border: 1px solid whitesmoke !important;
}
.dark-mode .page-header .header-col-left>.header-nav a:visited {
    border: 1px solid whitesmoke;
}





.dark-mode main>aside.side-bar {
    border-right: 1px solid whitesmoke;
    background-color: var(--bg-primary);
}
.dark-mode .section-container>.section {
    color: var(--font-primary-db);
}
.dark-mode,
.dark-mode p {
    color: whitesmoke;
}
.dark-mode .code-container{
    border: 1px solid white;
}
.dark-mode .sidebar-links-ul li a {
    color: white !important;
}
.dark-mode .code-container,
.dark-mode .code-container>.copy-code {
    color: white;
}
.dark-mode #navLessonTitle {
    border: 0;
    border-bottom: 1px solid white;
}
.dark-mode .page-header .header-top-row .header-nav a,
.dark-mode .page-header .header-top-row .header-nav a {
    color: whitesmoke 
} 
.dark-mode .page-header .header-top-row .header-nav a:focus,
.dark-mode .page-header .header-top-row .header-nav a:active{
    color: black !important;

}