
/* Responsive tweaks */
@media (max-width: 768px) {
    :root {
        --sidebar-width: 100px;
        --main-content-margin-left: 100px;
    }

    /* No collapsing to zero - keep sidebar visible */
}

@media screen and (max-width:720px) {

    /* Sidebar */
    .side-bar {
        /* width: var(--sidebar-width); */
        /* overflow-x: scroll; */
    }

    .side-bar-links-ul {
        font-size: 90%;
    }

}

@media (max-width: 520px) {
    :root {
        --sidebar-width: 80px;
        --main-content-margin-left: 140px;
    }
}