/* Responsive */
/* @media screen and (max-width: 721px) {

    video {
        min-width: 250px;
    }
    video.enlarge-vid {
        right: 3%;
        top: 0;
        transform: scale(1.02);
    }
    .step-txt {
        font-size: 90%;
    }
    img.enlarge {
        position: absolute;
        min-height: 112px;
        min-width: 244px;
        max-width: 200px;
        margin-right: 80%;
    }
} */
@media screen and (min-width: 601px) {
    .step-float .step-txt p {
        margin: 2.5% 0 ;
        line-height: 1.6;
    }
    .step-float .step-img>img.enlarge {
        /* not absolute, escape parent */
        max-height: 40vh;
        top: 50%;
        left: 50%;
        transform: translate(-10%, -65%) scale(1.8) !important;
        z-index: 9999 !important;
    }
    .imgs-container .step-img>img.enlarge {    
        top: 0%;
        left: 0%;
        transform: translate(-20%, -80%) scale(1.8) !important;
        z-index: 9999 !important;
    }
}
@media screen and (max-width: 600px) {
    .step-float p {
    } 
    .side-bar {
        font-size: 80%;
        width: 20% !important;
    }
    
}
