img{
    max-height: 100px;
    max-width: 100px;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    
}
.page-header{display: flex;}
.page-header .header-col-left{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}
.page-header .header-col-left > .header-nav{
    display: flex;
    flex-grow: 1;
    height: 50%;
    flex-basis: 50%;
}
#navLessonTitle {
    height: 50%;
    display: flex;
    align-items: center;
}
.page-header .header-col-left > .header-nav .home-links,
.page-header .header-col-left > .header-nav .web-links{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}
.page-header .header-col-left > .header-nav a:visited{
    color: black;
}
.page-header .header-col-left > .header-nav a{
    display: inline-flex;
    }

.page-header .header-logo-actions-right{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}
.page-header .header-logo-actions-right img{
    width: 100% ;
    border: 2px solid black;
}

.main-container {
    display: flex;
    flex: 1 1 auto;
    /* fill available height */
    overflow-y: auto;
}

#mainTargetDiv {
    flex: 1 1 auto;
    /* fill container */
    overflow-y: auto;
}
/* Lessons */
.step {
    display: flex;
    justify-content: space-between;
}
.code-container {margin-top: 2.5%;}