/* position.css */
main.main-container.collapsed #sideBarBtn {
    position: absolute;
    bottom: 12%;
    left: 20%;
}
/* position.css */
.page-header {
    /* position: sticky; */
}
.page-wrapper {
    position: relative;
}
.main-container {
    display: flex;
    flex-direction: row;
}

.lesson-btns-container {
    position: fixed;
    bottom: 5vh;
}

.lesson-btns-container {
    bottom: 0;
}

/* Lessons stepTxt injectContent() */

.step-img>img {
    position: relative;
}
.step-img>img.enlarge {
    /* position: fixed; */
}

.step-float {position: relative;}