.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 1.5% ;
    width: 100%;
}
.main-content > .code-containers{
    border: 3px solid orange;
    display: flex;
    gap: 2.5%;
    flex-wrap: wrap;
    width: 100%;
}
.code-containers pre {
    max-height: 80vh;
    white-space: pre-wrap;
    /* ✅ Ensures long code lines wrap */
    word-break: break-word;
}
.code-containers 
.code-container {
    border: 1px solid black;
    font-size: .8rem;
    flex-basis: 48%;
    min-width: 0;
    overflow: scroll;
    border: 2px solid magenta;
}
.main-content > .code-container {
    border: 1px solid black;
    font-size: .8rem;
    overflow: scroll;
}
#htmlCode {
    max-height: 60vh
}