main {
position: relative;
}
#jsCanvasScriptContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
canvas {
    border: 1px solid black;
    width: 95%; 
    /* flex-grow: 1; */
    height: 50vh; 
    z-index: 5; 
    overflow: hidden;
    /* scroll-behavior: none; */
    /* background-color: blue !important; */
}


#scriptsContainer>.code-container {
    border: 1px solid black;
    align-self: flex-start;
    width: 100%;
}

#scriptsContainer>.code-container>#mainCode {
    width: 100%;
}

#xExitContainer {
    /* position: absolute; */
    background-color: rgb(255, 255, 255, 0);
    /* z-index: 11; */
    top: 1%;
    right: 15%;
}

#xBtn {
    display: inline-block;
    padding: 25%;
}

#jsCanvasScriptContainer {
    width: 100%;
    /* position: relative; */
}

#scriptsContainer>.code-container {
    border: 1px solid black;
    width: 100%;
}

#scriptsContainer>.code-container>#mainCode {
    width: 100%;
}

#xExitContainer {
    position: absolute;
    background-color: rgb(255, 255, 255, 0);
    z-index: 11;
    top: 1%;
    right: 15%;
}

#xBtn {
    display: inline-block;
    padding: 25%;
}

#scriptsContainer {
    align-self: flex-start;
    margin-left: .5%;
    position: relative;
    width: 90%;
    overflow: scroll;
    
    
    overflow: hidden;
    overflow-y: scroll;
}

.popUp {
    /* #scriptsContainer { */
    /* position: absolute; */
    top: 0;
    background-color: white;
    right: 0;
    z-index: 10;
    /* min-width: 300px; */
    max-width: 300px !important;
    max-height: 300px;
    overflow-x: scroll;
}