main {
    /* position: relative; */
}
canvas {
    border: 1px solid black;
    /* width: 50%;  */
    /* flex-grow: 1; */
    height: 50vh; 
    z-index: 5; 
    overflow: hidden;
    /* scroll-behavior: none; */
    /* background-color: blue !important; */
}
#jsCanvasScriptContainer{
    width: 100%;
    position: relative;
}

#scriptsContainer> .code-container {
    border: 1px solid black;
    width: 100%;
}
#scriptsContainer> .code-container > #mainCode {
    width: 100%;
}
#xExitContainer{
    position: absolute;
    background-color: white;
    z-index: 11;
    top: 1%;
    right: 2.5%;
}
#xBtn {
    display: inline-block;
    padding: 25%;
}
/* #scriptsContainer {
    position: relative;
    width: 90%;
} */
.popUp{
/* #scriptsContainer { */
    position: absolute;
    top: 0;
    background-color: white;
    right: 0;
    width: 50%;
    min-width: 300px;
    overflow-x: scroll;
}
