main {
    position: relative;
    background-color: limegreen;
}

canvas:active,canvas:focus{
    border: 2px solid orange;
    z-index: 20;
    box-shadow: 0 0 3px 2px yellow;
}
#canvas {
    border: 1px solid black;
    width: 99%;
    height: 50vh; 
    z-index: 5; 
    overflow: hidden;
}


#scriptsContainer>.code-container {
    border: 1px solid black;
    align-self: flex-start;
    width: 100%;
}

#scriptsContainer>.code-container>#mainCode {
    width: 100%;
}



#jsCanvasScriptContainer {
    width: 100%;
    /* position: relative; */
}

#scriptsContainer>.code-container {
    border: 1px solid black;
    width: 100%;
}

#scriptsContainer>.code-container>#mainCode {
    width: 100%;
}



