#jsCanvasScriptContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
}
#scriptsContainer {
    position: relative;
    width: 99%;
}
.popup {
    max-width: 300px !important;
    max-height: 300px;
    overflow-x: scroll;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 10;
}
.popup {
    max-width: 300px !important;
    max-height: 300px;
    overflow-x: scroll;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 10;
}
#xExitContainer {
    position: absolute;
    background-color: rgb(255, 255, 255, 0);
    z-index: 11;
    top: 1%;
    /* right: 15%; */
    left: 0;
}
#xBtn {
    /* position: absolute; */
    /* display: inline-block; */
    padding: 25%;
    /* margin-right: 50%; */
}


