* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: rgb(173, 216, 230,.2); */

}
body > header a:focus,
body > header a:active {box-shadow: 0 0 10px 6px rgb(116, 183, 180, 1);}
body > header>h1 {font-size: 120%;}

body > header{

}
body > header>nav#mainLinksContainer {
    width: 100%;
    display: flex;
    width: 100% !important;
    
}

header > nav#mainLinksContainer >#mainLinks {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* flex-basis: 80%;     */
    /* border: 3px solid black; */
}

#targetDiv {
    width: 100vw;
    flex-basis: 78%;
     display: flex;;
     flex-direction: column;
     align-items: center;
     width: 100%;
     flex-grow: 1;
 }
#mainLinks>a {
    flex-basis: 40%;
    border: 1px solid black;
    border-top: none;
    display: inline-flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}
#tutorialLink>img {
    min-width: 150px;
    max-width: 200px;
    min-height: 60px;
    max-height: 50px;
}
nav.section-lesson-title {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
main {
    display: flex;
}
main>aside {
    flex-basis: 20%;
    width: fit-content;
    height: 100vh;
    border-right: 1px solid black;
    padding-top: 1%;
    padding-left: .5%;
    padding-right: 2%;
}
main>aside {
    flex-basis: 22%;
    padding-left: 1.5%;
    border-bottom: 1px solid black;
}
aside:active,aside:focus,
main:active,main:focus,
nav:active,nav:focus{box-shadow: 0 0 3px 3px lightseagreen;}
.sections-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: black;
    overflow: wrap;
}
.section-container{
    display: flex;
    flex-direction: column;
    margin: 4% 0;
    width: fit-content;
    flex-wrap: wrap;
    list-style:none;
}
.section-container > .section {    
    width: fit-content;
    font-size: 82%;
    text-decoration: none;
    text-wrap: wrap;
    white-space: wrap;
    margin-bottom: 3%;
    /* display: inline-block; */
    /* color: black; */
}
.sub-section{
    width: fit-content;
    list-style:none;
    white-space: wrap;
    text-wrap: wrap;
}
.sub-section > li {
    font-size: 75%;
    margin-bottom: 3%;
    white-space: wrap;
    text-wrap: wrap;
}
.sub-section > li > a{
    text-decoration: none;
    color: black;
    /* Breaks long words */    
    word-wrap: break-word;
    /* Allows text to wrap */
    white-space: normal;
    /* Breaks long text for older browsers */
    overflow-wrap: break-word;
}

.sub-section > li > ul {
    list-style: none;
    font-size: .8rem;
    width: fit-content;
    white-space: wrap;
    text-wrap: wrap;
}
.sub-section>li>ul>li{
    font-size: .6rem;
    white-space: wrap;
    text-wrap: wrap;
}
.sub-section>li>ul>li>code{
    font-size: .5rem;
    white-space: wrap;
    text-wrap: wrap;
}
.section li  code {
    display: inline-block;
    background-color: lightgrey;
}
.hide {
    display: none;
}
@media screen and (max-width: 900px){
    main > aside  {
        min-width: 120px;
    }
}
@media screen and (max-width: 771px){
    body {
        overflow-x: hidden;
    }
    body>header {
            /* width: fit-content; */
    }
    main>aside {
        flex-basis: 22%;
        padding-left: 1.5%;
        border-bottom: 1px solid black;
    }    
    #targetDiv {
        width: 100%;
        flex-basis: 68%;
        flex-grow: 1;
    }
}
@media screen and (max-width: 500px) {
    body{
        overflow-x: hidden;
    }
    body > header {
        width: fit-content;
    }
    main>aside {
        flex-basis: 20%;
        padding-left: 1.5%;
        border-bottom: 1px solid black;
        min-width: 100px;
    }
    #targetDiv {
        width: 100%;
        flex-basis: 80%;
        flex-grow: 1;
    }
}
