* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--bg-primary); */
}
.header-codeColor-lesson{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    border: 1px solid black;
    height: 20px;
}
.tutorial-vid-container video{
    border: 1px solid blue;
    width: 100%;
    height: 100%;
}
.step {
    border: 1px solid black;
    position: relative;
    clear: both;
}
.steps-container {
    border: 2px solid blue;
}
.step-txt p{
    padding: 1%;
}
.step-txt .code-container {
    margin: 1%;
    border-radius: 6px;
}
.step-txt .code-container .copy-code {
    padding-left: 1%;
    padding-bottom: 1%;
    text-wrap: wrap;
}

.console {
    position: sticky;
    top: 0;
    border: 2px solid whitesmoke;
    background-color: rgb(28, 26, 26);
    height: 10vh;
    width: 50%;
    float: right;
}

@media screen and (max-width: 600px) {
    .code-container .copy-code{
        font-size: 70%;
    }
}