.main-container-codeColor {
}
.step {
    position: relative;
    border: 1px solid black;
}

.console {
    float: right;
    /* This floats the console to the right */
    background-color: black;
    height: 15vh;
    width: 40%;
    /* Adjust as needed */
    margin-left: 10px;
    /* Optional: adds space between console and text */
    padding: 10px;
    /* Optional: adds padding inside console */
}

.step textarea,
.step .code-container,
.step .copy-code,
.step h3,
.step p {
    display: block;
    /* Ensures wrapping around floated element */
}