:root {
    --xB: 8px;
    --yB: 3px;
}
#javascriptYoutube:focus,
#javascriptYoutube:active {
    box-shadow: 0 0 var(--xB) var(--yB) yellow !important;
    border: 2px solid yellow !important;
}

#nodeJsYoutube:focus,
#nodeJsYoutube:active {
    box-shadow: 0 0 var(--xB) var(--yB) royalblue !important;
    border: 2px solid royalblue !important;
}

#pythonYoutube:focus,
#pythonYoutube:active {
    box-shadow: 0 0 var(--xB) var(--yB) mediumpurple !important;
    border: 2px solid mediumpurple !important;
}
#dockerYoutube:focus,
#dockerYoutube:active {
    box-shadow: 0 0 var(--xB) var(--yB) darkslateblue !important;
    border: 2px solid darkslateblue !important;
}

#aiYoutube:focus,
#aiYoutube:active {
    box-shadow:  0 0 var(--xB) var(--yB) orangered !important;
    background-color: rgb(255, 69, 0, .4);
    border: 2px solid var(--xB) var(--yB) orangered;
}

.topics-container>.topic:focus,
.topics-container>.topic:active {
    margin-top: 2px;
    margin-left: 2px;
    padding-left: 1%;
    font-size: 130%;
    transition: all .2s;
}