:root {
    --fSize: 110%;
    --fWeight: 900;
    /* --tShadow: 0 0 1px 1px white; */
    --tShadow: '0 0 10px 10px black';
}
.txt90 {font-size: 90%;}
.bl {color: black !important ;}
.b {color: blue !important ;}
.b-fix {
    color: rgb(114, 130, 220) !important ;
    font-size: var(--fsize);
    text-shadow: var(--tShadow);
    font-weight: var(--fWeight);
}
.lb {color: lightblue !important ;}
.lsg {color: lightseagreen!important;}
.lsg-fix {color: lightseagreen!important;
    font-size: var(--fsize);
    text-shadow: 0 0 1px 1px white;
    font-weight: var(--fWeight);
}

.g {color: green !important;}
.l {color: lime !important ;}

.gr {color: goldenrod!important;}

.m {color: rgb(224, 141, 224) !important;}
.m-fix {color: rgb(215, 95, 215) !important;
    font-size: var(--fSize);
    /* text-shadow: 0 0 1px 1px white; */
    font-weight: 550;
}

.o {color: orange!important;}
.o-fix {color: orange!important;
    font-size: var(--fSize);
    text-shadow: 0 0 1px 1px white;
    font-weight: var(--fWeight);
}
    
.r {color: red !important ;}
.r-fix {color: rgb(247, 119, 119) !important ;
    font-size: var(--fSize);
    text-shadow: 0 0 10px 10px black;
    font-weight: var(--fWeight);
}
.y {color: yellow !important ;}
.y-fix {color: rgb(185, 185, 57) !important ;
    font-size: var(--fSize);
    text-shadow: 0 0 10px 10px black;
    font-weight: var(--fWeight);
}
.rb1 {border: 1px solid red !important;}
.rb2 {border: 2px solid red !important;}
.rb3 {border: 3px solid red !important;}

.bgw{background-color: white; color: black}
.wbg{
    background-color: white !important;
    color: black !important;
    border: 1px solid black;
}

.copy-code > .r{
    color: red !important;
    font-weight: 999;
    font-size: var(--fsize)
}
.copy-code > .m{
    color: magenta !important;
    font-weight: 999;
    font-size: var(--fsize)
}
.copy-code > .o{
    color: orange !important;
    font-size: var(--fsize);
    font-weight: var(--fWeight);
}
.copy-code > .gr{
    color: goldenrod !important;
    font-size: var(--fsize);
    font-weight: 999;
}
@media screen and (max-width:672px) {
    .txt90 {
            font-size: 80%;
        }
    
}