* {
    margin: 0;
    /* color: white; */
    padding: 0;
}
.step-txt sub,
.step-txt sup{
    margin-left: 5%;
}
.section-page > .step {padding-top: 5%;}
.steps-container {
    display: flex;
    /* overflow-x: hidden; */
     /* overflow-y: scroll; */
    flex-direction: column;
    /* width: 100%; */
}
.step {    
    display: flex;
    justify-content: space-between
}
.step > .step-txt,
.step>.step-img,
/* .step-float>.step-vid, */
.step>.step-vid {
    border: 1px solid black;
    flex-basis: 50%;
    width: 50%;
}
.step-col {
    display: flex;
    flex-direction: column;
}
.step-txt:focus,.step-txt:active{
    box-shadow: 2px 2px 5px 5px lightseagreen;
}
.step-txt {
    display: flex;
    flex-direction: column;
}
.step-txt>p a {
    word-break: break-all;
}
.step-txt>p {
    margin: 2% 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90%;
    letter-spacing: 1%;
    line-height: 1.5;
    align-self: center;
    /* margin-top: 10%; */
    justify-self: center;

    width: 90%;
    /* display: none; */
}

.step-txt > p{
    overflow: wrap;
}
.step-col>.step-txt{
    /* align-items: center; */
    border: 1px solid black;
}
.step-col>.step-txt>p{
    /* margin: 1%; */
    padding: 0;
}
.step-txt>h4 {
    align-self: flex-start;
    justify-self: flex-start;
}
.step > .step-img,
.step > .step-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.step-img > img,
.step-vid > video {
    width: 100%;
    max-width: 400px;
    object-fit: scale-down;
}
.step-col>.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.step-col > .img-container>.step-img > img,
.step-col > .img-container>.step-vid > video {
    max-height: 280px;
    /* object-fit: scale-down; */
    /* margin: 2% 25%; */
    width: 100%;
    height: 100%;
}
.step-vid  {
    
}
video {
    /* border: 1px solid blue !important; */
}
.dark-mode .step > .step-img > .enlarge {
    border: 1px solid white ;

}
.enlarge {
    /* z-index: 5; */
    margin-right: 50%;
    max-height: 30vh;
    transform: scale(2.5);
}
.enlarge-vid {
    /* z-index: 2; */
    margin-right: 50%;
    max-height: 30vh;
    transform: scale(3.25);
}


.step-col>.step-txt>.code-container {
    /* margin: 2%; */
    /* padding: 1%; */
    /* width: 85%; */
}

.step-txt>.code-container {
    align-self: center;
    border:  1px solid black;
    width: 90%
}

.code-container>.copy-code::-webkit-scrollbar {
    display: none;
}
.step > .step-txt .code-container>.copy-code{
    /* border: 1px solid black; */
    display: inline-block;
    font: 80%;
    width: 100%;
    padding: 1% 0 ;
    padding-left: 1%;
    overflow-x: scroll;
    overflow: scroll;
}
.step-float>.step-txt .code-container {
    display: inline-block;
    /* border: 1px solid white; */
    /* width: 0; */
    min-width: 45%;
    width:min-content;
    height: 100%;
    padding-right: 0;
    margin-left: 2.5%;
    
}
#endNxtLesson{
    padding: 1.5% 0;
    margin:1.5% 15;
}
@media screen and (max-width: 961px) {
    .step-col > .img-container{
        width: 95%;
        display: flex;
    }   
    .step-col>.img-container > .step-img {
        margin: 5% 0;
        margin-left: 10%;
    }
    .step-col>.img-container img {
        width: 100%;
    }
    .enlarge-vid {
        z-index: 2;
        margin-right: 50%;
        max-height: 30vh;
        transform: scale(2.15);
    }
}
@media screen and (max-width: 641px) {
}
.step.step-float {
    width: 100%;
    display: block;
}
.step.step-float > h4{
    margin: 0;
    
}
.step.step-float p{
    margin: 1.75% 0 ;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}
.step-float > .step-txt{
    /* border: 1px solid orange; */
    width: 100%;
    display: block;
}
.step-float .step-vid,
.step-float .step-img {
    /* border: 4px solid magenta; */
    /* z-index: 1; */
    width: 50%;
    float: right;   
}

.step-float > .step-txt .code-container > .copy-code {
    display: inline-block;
    /* border: 2px solid orange; */
    padding-right: 25%;
    /* width: fit-content; */
}
.step-float > .step-txt .code-container:last-child {
    margin-bottom:10%;
}


.step-float {
    /* position: relative; */
    /* z-index: 1; */
}

.step-float .step-txt:focus+.step-img img {
    /* z-index: 4 !important; */
}
.clear {
    clear: both;
}