
:root {
    --highlight-color: rgb(0, 139, 137);
}
a:visited{
    color: black;
}
a:focus,
.page-header a:active {
    bottom: 20px solid blue;
    text-decoration: underline;
}
#mainTargetDiv:active,#mainTargetDiv:focus{
    box-shadow: none;
    /* border: 4px solid green !important; */
    /* background-color: blue !important; */
}
#targetDiv{
    overflow: auto;
}
/* Lessons injectContent() */
.step-float {
    /* -webkit-tap-highlight-color: transparent; */
}
/* Active (tap / mouse click press) */
.step-float.efxFocus{
    /* border: 20px solid blue; */
    background-color: rgba(120, 120, 120, 0.2);
    box-shadow: 0 0 4px 4px rgb(199, 178, 178);
    border-top: solid 4px rgb(199, 178, 178);
    padding-top: 2%;
}
.step-float:active{
    /* background-color: blue; */
    /* border: 2px solid var(--highlight-color); */
    /* border: 20px solid blue; */
    /* box-shadow: 0 0 23px 40px rgba(0, 139, 137, 0.4); */
    /* transform: scale(0.98); */
    /* subtle pressed effect */
}
.copy-code:active {
    background: white
}

 .lesson-btns-container>button:focus,
 .lesson-btns-container>button:active{
    box-shadow: 2px 1px 2px 2px white;
    outline:  black;
    /* text-shadow:  0px -1px black; */
    font-size: bold;
    /* color: #e7e3e3; */
    font-weight: 999;
 }