* {
    margin:0; 
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topic-container {
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}
.topic-container  > .drop-topic {
    padding: 1% 0 ;
    padding-left: 2%;
    border: 1px solid black;
    display: flex;
}
.topic-container  > .drop-topic > img{
    max-height: 50px;
    max-width: 50px;
    margin-left: 2.5%;
}
ul.sub-resources-container {
    padding-bottom: 1%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;    
    align-items: stretch;
    list-style: none;
    text-decoration: none;
    gap: 1%;
}
ul.sub-resources-container > li{
    list-style: none;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
a.resource{
    display: flex;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
}
a.resource:visited{
    color: black;
}
.resource > img{
    width: 100%;
    max-height: 50px !important;
}
.drop-topic:active,.drop-topic:focus{
    box-shadow: 2px 0 4px 3px blue;
}
.resource:active,.resource:focus{
    /* box-shadow: 2px 2px 8px 6px lightseagreen; */
}
/* a:focus,
a:active {
    box-shadow: 1px 2px 5px 4px cyan;
} */

.hide {
    display: none !important;
}
.show {
    display: inline-block;
}


@media screen and (max-width: 683px) {
    .page-wrapper main {
        /* background-color: lightslategray; */
        margin: 0;
        margin-left: 4%;
        max-height: 75vh;
    }
}