.imgs-container {
    width: 100%;
}
.imgs-container .img-container .step-img {
    width: 90%;
    position: relative;
    pointer-events: auto;
    height: fit-content;
}
.imgs-container {
    display: flex;
}

.imgs-container>* {
    flex-basis: 50%;
}
.imgs-container .img-container:nth-child(odd) img.enlarge {
    margin-left: 20%;
}


/* Default step images */
.step-img>img {
    position: absolute;
    width: 98%;
    max-width: 500px;
    /* border: 1px solid white; */
    pointer-events: auto;
    transition: all 0.025s ease;
    touch-action: manipulation;
}

.step-img,
.step-vid {
    float: right;
    width: 45%;
    margin-right: 5%;
    margin-left: 10px;
    position: relative;
}

.step-vid>video {
    position: absolute;
    width: 98%;
    border: 1px solid white;
    max-width: 500px;
    /* z-index: 5; */
    transition: all 0.025s ease;
}

/* Enlarged video */
video.enlarge-vid {
    position: absolute;
    /* z-index: 100; */
    min-height: 150px;
    min-width: 250px;
    right: 20%;
    transform: scale(1.5);
}

/* Odd column enlarged tweak */
/* Enlarged images always on top */
.step-img>img.enlarge {
    position: relative;
    transform: scale(1.5);
    pointer-events: auto;

}