:root {
  --sidebar-width: 120px;
  --main-content-width: calc(100% - var(--sidebar-width));
  --sidebar-collapsed-width: 5%;
}
.side-bar {
}
.side-bar {
  width: 15%;
  position: sticky;
  top: 0;
  height: 100vh;
  /* sticks below header if header has height */
  flex-shrink: 0;
  /* overflow: hidden; */
  /* height: calc(100vh - var(--header-height, 80px)); */
}
main.main-container.collapsed .main-content-container {
flex-basis: 95%;
}
main.main-container.collapsed .side-bar {
  flex-basis: var(--sidebar-collapsed-width)
}
main.main-container.collapsed .side-bar h2,
main.main-container.collapsed .side-bar .sidebar-links-ul {
  display: none;
}
main.main-container.collapsed .header-codeColor-lesson h3 {
  margin-left: 10%;
} 