* {
    margin:  0;
    padding: 0;
}
body{
    /* overscroll-behavior-x: none; */
}
main {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
body>nav.section-lesson-title {
    /* background-color: var(--font-primary-db); */
    position: sticky;
    z-index: 50;
    top: 0;
    box-shadow: 0 0 1px 1px white;
    height: 2.5vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
body > nav.section-lesson-title > h1#title {
    color: black;
    font-size: 100%;
    margin-left: 1%;
}
main>#mainTargetDiv {
    /* margin-right: 20px; */
    /* width: 100%; */
    overflow-x: hidden;
    flex-basis: 50%;
    flex-grow: 1;
}
main > .side-bar{
    flex-basis: 10%;
    flex-direction: column;
    position: sticky;
    height: 100%;
    top: 0;
    background-color: var(--font-primary-db);
    color: black;
    box-shadow: 0 0 1px 1px white;
    /* text-wrap: wrap; */
    /* text-wrap: none; */
    white-space: none;
    padding-left: .5%;
    border-right: 1px solid black;
    padding-right: 2;
    z-index: 10;
}
main > .side-bar.deactive {
    flex-basis: 2%;
}
main > .side-bar.deactive .parts {
    width: 0;
    opacity: 0;
    transition: all 250ms;
}
main > .side-bar.deactive .drop {
    position: fixed;
    transform: scale(1.5);
    z-index: 1;
    bottom: 0;
}
.side-bar > .parts ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: wrap;   
    overflow-y: scroll;
    scrollbar-width: none;
    /* width: fit-content; */
    /* margin-top: 25%; */
    margin-right: 2%;
    list-style: none;
    /* border: 1px solid magenta; */
}
.parts > ul li {
    text-wrap: none;
    width: fit-content;
    margin-top: 20%;
    margin-left: 4%;

}
ul li a {
    text-decoration: none;
    color: black;
}
.parts > ul code{
    display: inline;
}
ul li a:visited {
    text-decoration: none;
    color: white;
}
.hide{
    display: none;
}
.dark-mode #sideBarBtn {
    color: white;
}

#sideBarBtn {
    color: black;

}

.deactive #sideBarBtn {
    transform: scale(2);
}
@media screen and (min-width:960px){    
    main> .side-bar.deactive  {
        transition: all 250ms;
    }
    .parts sup{
        display: inline-block;
        margin-left: -3px;
    }
}

@media screen and (max-width:600px){
    .side-bar{
        width: 20%;
    }
    .side-bar>.parts {
        margin-left: 10%;
    }
    .side-bar>.parts ul li{
        line-height: 1.4;
    }
    
    .parts{
        margin-left: 1.5%;
        font-size: 90%;
    }
    .parts h2{
        margin-left: 2.5%;
    }
    body>nav.section-lesson-title>h1 {
    /* color: blue;s */
        font-size: 45%;
    }
    /* Gets rid of scroll bar see Chatgpt css Get rid of scroll-bar overlfow question on site */
    #mainTargetDiv {
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }
        main>.side-bar.deactive {
            flex-basis: 5%;
        }
                .parts>ul li {
                    margin-left: 2%;
                }
}