.gr{color: goldenrod;}

.sidebar-links-ul li a,:visited,
.page-header .header-col-left>.header-nav a:visited {color: black;}
.sidebar-links-ul li a,
.page-header .header-col-left>.header-nav a {color: black;}


/* Lessons injectContent()*/
body{
    background-color: rgb(187, 199, 190);
}

.code-container pre,
.code-container textarea {
    background-color: white;
}