
:root {
    --highlight-color: rgb(0, 139, 137);
}
a:focus,
.page-header a:active {
    bottom: 20px solid blue;
    text-decoration: underline;
}
#mainTargetDiv:active,#mainTargetDiv:focus{
    /* border: 1px solid var(--highlight-color);     */
}
#targetDiv{
    overflow: auto;
}
/* Lessons injectContent() */
.step-float {
    -webkit-tap-highlight-color: transparent;
}
/* Active (tap / mouse click press) */
.step-float:focus {
    border: 2px solid var(--highlight-color);
    box-shadow: 0 0 3px rgba(0, 139, 137, 0.4);
    /* transform: scale(0.98); */
    /* subtle pressed effect */
}
.copy-code:active {
    background: white
}