#darkmodeBtn{
    padding: 0 2%;
}
.page-header .header-col-left>.header-nav a { 
  padding: 1.5% 2%;
}
#sideBarBtn {
  margin-top: 2%;
}
.lesson-btns-container>button{
  padding: 1% 3%
}

.step-float>.step-txt {
  /* padding: 0 2%; */
}

.step-txt ul {
  margin-left: 3%;
}
.step-float:first-child .step-img img.enlarge {
  margin-top: 5% !important;
}

.step,
.step-float {
  /* padding-top: 2.5%; */
}

.code-container pre,
.code-container textarea {
  padding: 1% 0;
  padding-left: 1%;
  
}