/* spacing.css */
#darkmodeBtn{
    padding: 0 2%;
}
.page-header .header-col-left>.header-nav a { 
  padding: 1.5% 2%;
}
#sideBarBtn {
  margin-top: 2%;
}
#mainTargetDiv > .main-container{
  padding-bottom: 25%;
  margin: 25%;
}
#targetDiv>.main-container>header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.lesson-btns-container>button{
  padding: 1% 3%
}
.sidebar-links-ul > li {
  margin: 10% 0 ;
}
.sidebar-links-ul > li > ul{
  margin-left: 4%;
}

.step-txt > ul {
  margin-left: 3%;
}
 
.code-container textarea,
.code-container pre{
  padding-left:  2%;
  padding-bottom: 1%;
  
}
.code-container pre{
  padding-top: 1%;
  padding-right: 1%;
}

.step-float>.step-txt {
  padding: 0 2%;
}