/* z-index.css */
.page-header {
    z-index: 0
}

#targetDiv>.main-container>header {
    z-index: 10;
}
.lesson-btns-container {
    z-index: 10
}
/* lessons injectContent() */
.imgs-container {
    z-index: auto;
}
.step-img>img {
    z-index: 0
}
img.enlarge {
    z-index: 99;
}